.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.grid-item {
  background-color: rgb(242,242,242);
  border: 1px solid #ccc;
  text-align: center;
  padding: 30px;
}